services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ddbj-search-converter-${DDBJ_SEARCH_ENV}
    volumes:
      - .:/app:rw
      - app-venv:/app/.venv
      - ${DDBJ_SEARCH_CONVERTER_RESULT_PATH}:/app/ddbj_search_converter_results:rw
      - ${DDBJ_SEARCH_CONVERTER_CONST_PATH}:/home/w3ddbjld/const:rw
      # SRA / DRA Accessions
      - ${SRA_ACCESSIONS_PATH}:/lustre9/open/database/ddbj-dbt/dra-private/mirror/SRA_Accessions:ro
      - ${DRA_ACCESSIONS_PATH}:/lustre9/open/database/ddbj-dbt/dra-private/tracesys/batch/logs/livelist/ReleaseData/public:ro
      - ${NCBI_METADATA_PATH}:/lustre9/open/database/ddbj-dbt/dra-private/mirror/Metadata/Metadata:ro
      # DBLink
      - ${DBLINK_PATH}:/usr/local/shared_data/dblink:rw
      # Resources
      - ${BIOPROJECT_PATH}:/usr/local/resources/bioproject:ro
      - ${BIOSAMPLE_PATH}:/usr/local/resources/biosample:ro
      - ${DRA_PATH}:/usr/local/resources/dra:ro
      - ${JGA_PATH}:/usr/local/shared_data/jga/metadata-history/metadata:ro
      - ${TRAD_PATH}:/usr/local/resources/trad:ro
      - ${GEA_PATH}:/usr/local/resources/gea/experiment:ro
      - ${METABOBANK_PATH}:/usr/local/shared_data/metabobank/study:ro
    environment:
      TZ: ${TZ:-Asia/Tokyo}
      DDBJ_SEARCH_CONVERTER_RESULT_DIR: ${DDBJ_SEARCH_CONVERTER_RESULT_DIR}
      DDBJ_SEARCH_CONVERTER_CONST_DIR: ${DDBJ_SEARCH_CONVERTER_CONST_DIR}
      DDBJ_SEARCH_CONVERTER_POSTGRES_URL: ${DDBJ_SEARCH_CONVERTER_POSTGRES_URL:-}
      DDBJ_SEARCH_CONVERTER_ES_URL: ${DDBJ_SEARCH_CONVERTER_ES_URL}
      DDBJ_SEARCH_HOST: ${DDBJ_SEARCH_HOST}
    working_dir: /app
    command: ["sleep", "infinity"]
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - ddbj-search-network
    init: true

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.1
    container_name: ddbj-search-es-${DDBJ_SEARCH_ENV}
    environment:
      TZ: ${TZ:-Asia/Tokyo}
      discovery.type: "single-node"
      xpack.security.enabled: "false"
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: ${DDBJ_SEARCH_ES_JAVA_OPTS}
      path.repo: "/usr/share/elasticsearch/backup"
    volumes:
      - es-data:/usr/share/elasticsearch/data
      - es-backup:/usr/share/elasticsearch/backup
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: ${DDBJ_SEARCH_ES_MEM_LIMIT}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:9200/_cluster/health | grep -q 'status'",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ddbj-search-network
    init: true

networks:
  ddbj-search-network:
    name: ddbj-search-network-${DDBJ_SEARCH_ENV}
    external: true

volumes:
  app-venv:
    driver: local
  es-data:
    driver: local
  es-backup:
    driver: local
